<%- include("partials/header.ejs") %> <%- include("partials/navbar.ejs") %>

<div class="notes-container">
  <div class="back-button-container">
    <a href="/" class="back-button">&larr; Back to Home</a>
  </div>
  <section class="notes-book">
    <img
      src="https://covers.openlibrary.org/b/isbn/<%= books[0].isbn %>-M.jpg"
      alt="<%= books[0].title %>"
    />
    <div class="notes-desc">
      <h2><%= books[0].title %></h2>
      <h3><%= books[0].description %></h3>
      <p>ISBN : <%= books[0].isbn %></p>
      <p>Personal Rating : <%= books[0].personal_rating %></p>
    </div>
  </section>

  <div class="horizontal-bar">
    <div class="black-bar"></div>
  </div>

  <section class="notes-notes">
    <% if (locals.notes && notes.length > 0) { %>
    <h2 class="notes-title">Notes</h2>

    <% if (notes.length === 1 && notes[0].notes === "No notes here yet 😭") { %>
    <p><%= notes[0].notes %></p>
    <% } else { %>
    <ul>
      <% notes.forEach(note => { %>
      <li><%= note.notes %></li>
      <% }) %>
    </ul>
    <% } %> <% } %>
  </section>

   <div class="horizontal-bar">
    <div class="black-bar"></div>
  </div>

  <section class="notes-comments">
    <div class="notes-comments-form-container">
      <form action="/comment" class="notes-comments-form" method="post">
        <input type="hidden" name="book_id" value="<%= books[0].id %>" />
        <input type="hidden" name="user_id" value="<%= user.id %>" />
        <label for="comment">Comments</label>
        <textarea
          name="comment"
          id="comment"
          placeholder="Insert your comment here!"
        ></textarea>
        <div class="notes-form-button">
          <button class="dark-brown-button" type="submit">Post!</button>
        </div>
      </form>
    </div>
  </section>

  <section class="notes-comments-show">
    <div class="notes-comments-show-container">
      <% if (locals.comments && comments.length > 0) { %>
        <% if (comments.length === 1 && comments[0].comment === "No comments yet! be the first to comment!") { %>
          <p><%= comments[0].comment %></p>
          <% } else { %>
             <ul>
              <% comments.forEach(comment => { %>
                <div class="notes-comments-show-comment">
                  <div class="notes-comments-show-comment-imgname">
                    <img src="<%= comment.image_url %>" alt="<%= comment.fname %> <%= comment.lname %>'s Profile Picture">
                    <p><%= comment.fname %> <%= comment.lname %></p>
                  </div>
                  <p><%= comment.comment %></p>
                  <% if (comment.user_id === user.id) { %>
                    <form action="/comment/delete" class="comment-buttons" method="post">
                      <input type="hidden" value="<%= comment.comment_id %>" name="comment_id">
                      <input type="hidden" value="<%= books[0].id %>" name="book_id">
                      <button class="dark-brown-button" type="submit">Delete</button>
                    </form>
                  <% } %>
                </div>
              <% }) %>
            </ul>
          <% } %>
      <% } %>
    </div>
  </section>
</div>

<%- include("partials/footer.ejs") %>
