<%- include("partials/header.ejs") %>

<section class="book-notes">
  <img
    src="https://covers.openlibrary.org/b/isbn/<%= books[0].isbn %>-M.jpg"
    alt="<%= books.title %>"
  />

  <% if (locals.notes) { %>
  <ul>
    <% notes.forEach(note => { %>
    <p><%= note.notes %></p>
    <% }) %>
  </ul>
  <% } %>
</section>

<%- include("partials/footer.ejs") %>
